
.container {
	width: 80%;
	margin: auto;
}

.main-contianer {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 10px;
}

.food-container {
	border-right: 1px solid #ccc;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	padding-top: 30px;
	padding-right: 10px;
}

/* .cart-container {

} */